{{> header}}
<main>
  <h1>Search for Taylor Swift Lyrics</h1>
  <form action="/api/search" method="GET">
  <input type="text" name="song" placeholder="Enter song title" required>
  <button type="submit">Search</button>
</form>

  {{#if song}}
    <h2>{{song.title}} by {{song.artist}}</h2>
    {{#if song.album_artwork_url}}
      <img src="{{song.album_artwork_url}}" alt="{{song.title}} album cover">
    {{/if}}
    <pre>{{song.lyrics}}</pre>
  {{/if}}

  {{#if error}}
    <p class="error">{{error}}</p>
  {{/if}}
</main>
